.profile {
  display: flex;
  margin: 30px 0;
  max-width: 700px;
}

.profile > .avatar {
  width: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar > .channel-logo {
  width: 120px !important;
  height: 120px !important;
}

.profile > .details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.details > .description > p {
  margin-top: 12px;
  font-size: 12px;
  color: #606060;
}

.details > .subscribe {
  height: 30px;
}
