.recommended {
  flex: 0.8;
  padding: 20px 0 20px 20px;
  background-color: rgb(249 252 249);
}
.recommended_videos {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
}
.videocard {
  width: 270px;
  margin-bottom: 40px;
}
.video-thumbnail {
  width: 250px;
  height: 140px;
}
.video-details {
  display: flex;
  margin-top: 10px;
  padding-right: 30px;
}
.videoCard-avatar {
  width: 30px !important;
  height: 30px !important;
}
.text-details {
  margin-left: 15px;
}
.text-details > h4 {
  font-size: 14px;
  margin-bottom: 6px;
}
.text-details > p {
  font-size: 14px;
  color: grey;
}
