.search {
  flex: 0.8;
  background: rgb(249 252 249);
  padding: 10px;
}

.search-header {
  display: flex;
  align-items: center;
}

.search-header > p {
  margin-left: 10px;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: lightgray;
  height: 1px;
}

.thumbnail > img {
  width: 270px;
  object-fit: contain;
}

.information > div {
  display: flex;
}
