.search {
  flex: 0.8;
}
hr {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: lightgray;
  height: 1px;
  border: 0;
}
.channel-row {
  display: flex;
}
.thumbnail > img {
  width: 270px;
  object-fit: contain;
}
.information > div {
  display: flex;
}
.channel-logo {
  width: 5px;
  height: 5px;
  object-fit: contain;
}
